{% extends "header.html" %}

{% block app_content %}
    <h1>Save Address</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.street.label }}<br>
            {{ form.street(size=64) }}<br>
            {% for error in form.street.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.city.label }}<br>
            {{ form.city(size=32) }}<br>
            {% for error in form.city.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.state.label }}<br>
            {{ form.state(size=2) }}<br>
            {% for error in form.state.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.zip.label }}<br>
            {{ form.zip(size=8) }}<br>
            {% for error in form.zip.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}